
*{
  margin: 0;
  padding: 0;
  text-decoration: 0;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: Montserrat, sans-serif;
  background-image:url("./images/railway10.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

nav{
  background-color: #2f496e;
  height: 80px;
  width: 100%;
}
label.heading{
  font-size: 2vw;
  padding: 0 40px;
  text-transform: uppercase;
  color: #f4eade;
  line-height: 80px;
  font-weight: 700;
}
nav ul{
  float: right;
  margin-right: 20px;
  
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  list-style: none;
  font-size: 1vw;
}
a{
  color: #f4eade;
  text-decoration: none;
  padding: 10px 15px;
  text-transform: uppercase;
}
a:active,a:hover{
  background-color: #f4eade;
  color: #2f496e;
  transition-duration: 0.5s;
  border-bottom-width: 5px;
  border-bottom-color: #2988bc;
  border-bottom-style: solid;
  border-right-width: 5px;
  border-right-color: #2988bc;
  border-right-style: solid;

}

.login-card {
padding: 40px;
background-color: #2f496e7a;
margin: 50px;
border-radius: 2px;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.979);
overflow: hidden;
margin-left: auto;
margin-right: auto;
width: 30vw;

}

.login-card h1 {
font-weight: 100;
text-align: center;
font-size: 2.3em;
color: #f4eade;
padding: 10px;
}

.login-card input[type=submit] {
width: 100%;
display: block;
margin-bottom: 10px;
position: relative;
}

.login-card input[type=text], input[type=password] {

font-size: 16px;
width: 100%;
text-align: center;
margin-bottom: 10px;
-webkit-appearance: none;
background: #fff;
border: 1px solid #d9d9d9;
border-top: 1px solid #c0c0c0;
/* border-radius: 2px; */
padding: 20px 8px;

}

.login-card input[type=text]:hover, input[type=password]:hover {
border: 1px solid #b9b9b9;
border-top: 1px solid #a0a0a0;

}

.login {
text-align: center;
font-size: 30px;
font-weight: 700;
}

.login-submit {
color: #f4eade;
background-color: #2f496e;
text-transform: capitalize;
padding: 10px;
margin-top: 30px;


}

.login-submit:hover {
/* border: 1px solid #2f5bb7; */
background-color: #f4eade;
color: #2f496e;
transition-duration: 0.5s;    
/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.login-card a {
text-decoration: none;
color: #666;
font-weight: 400;
text-align: center;
display: inline-block;
opacity: 0.6;
transition: opacity ease 0.5s;
}

.login-card a:hover {
opacity: 1;
}

.login-help {
width: 100%;
text-align: center;
font-size: 30px;
color: #f4eade;

}    
      
.login-help .a{
  background-color: #2f496e;
  color: #f4eade;

}
.error {
color: rgb(255, 57, 57);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 1.2vw;
font-weight: 700;
background-color: #f4eadec7;
}

  

  h3{
      margin-left: 550px;
  }
  .foot{
      float:none;
      background-color: #4ded60;
        text-align:center;
  }
