*{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: #f4eade;
    font-family: Montserrat, sans-serif;
    
}
nav{
    background-color: #2f496e;
    height: 80px;
    width: 100%;
}
label.heading{
    font-size: 35px;
    padding: 0 40px;
    text-transform: uppercase;
    color: #f4eade;
    line-height: 80px;
    font-weight: 700;
}
nav ul{
    float: right;
    margin-right: 20px;
    
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    list-style: none;
}
 a{
    color: #f4eade;
    text-decoration: none;
    padding: 10px 15px;
    text-transform: uppercase;
}
a:active,a:hover{
    background-color: #f4eade;
    color: #2f496e;
    transition-duration: 0.5s;
    border-bottom-width: 5px;
    border-bottom-color: #2988bc;
    border-bottom-style: solid;
    border-right-width: 5px;
    border-right-color: #2988bc;
    border-right-style: solid;

}

.para{
    position: relative;
    padding: 60px;
    font-size: 25px;
    color: #7a2c08;
}

.pic{
    display: block;
    width: 700px;
    height: 70%;
    
    
}
.fact:hover .pic{
    border: #2988bc 10px solid ;
    border-radius: 5px;
    transition-duration: 0.5s;


}
.fact:hover .first{
    background-color: rgba(0, 0, 0, 0.185); 
    color:#f4eade;
    transition-duration: 0.5s;
}
.button{
    font-weight: 700;
}
.fact{
    display: flex;
    flex-direction: row;
    background-color: #ed8c72;
    padding: 10px 10px 10px 10px;
    
}
.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}
.parallax {
    /* The image used */
    background-image: url("train_anim.png");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
footer{
    background-color: #2f496e;
    color: #f4eade;
    text-align: center;
}